<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
				
			<div class="panel panel-default">
				<div class="panel-heading">Listagem de Notas do Projeto</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th>Project</th>
								<th>Title</th>								
								<th>Note</th>								
								<th>Action</th>							
							</tr>
						</thead>
						<tbody>
							<!-- varrer uma list com angular -->
							<tr ng-repeat="o in note">
								<td>{{o.project_id}}</td>
								<td>{{o.title}}</td>
								<td>{{o.note | limitTo: 30}}...</td>
								<td>
									<a ng-href="#/project/{{o.project_id}}/notes/{{o.id}}/edit">Editar</a> | 
									<a ng-href="#/project/{{o.project_id}}/notes/{{o.id}}/remove">Excluir</a> |
									<a ng-href="#/project/{{o.project_id}}/notes/new">New Note</a>
								</td>
							</tr>
						</tbody>
					</table>
					
				</div>
			</div>
		</div>
	</div>
</div>